body {
  font-family: Arial, sans-serif;
}

header {
  background: #444;
  height: 100px;
}

.header-inner {
  width: 960px;
  margin: 0 auto;
}

.header-inner img {
  float: left;
  margin-top: 15px;
  margin-right: 90px;
}

.header-inner li {
  float: left;
  color: #fff;
  margin-right: 90px;
  margin-top: 40px;
}

main {
  width: 960px;
  margin: 30px auto;
}

main h1 {
  font-size: 40px;
  text-align: center;
}

main h2 {
  font-size: 30px;
  margin-top: 20px;
}

main h3 {
  font-size: 20px;
}

main p, ol {
  margin: 10px 20px;
  display: inline-block;
  width: 400px;
  line-height: 20px;
}

main ol {
  list-style-type: decimal;
}

main li img {
  height: 200px;
}

main ul#display-area li {
  float: left;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

main li:last-child {
  margin-right: 0;
}

footer {
  height: 200px;
  background: #888;
  clear: both;
  margin-top: 260px;
}